*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #000;
  --secondary-color: #fff;
}

html {
  font-family: var(--main-font-family);
  background-color: #fec844;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-menu-container {
  background-color: #289988;
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.3rem 0;
}

.website-title {
  padding: 15px;
  font-size: 1.25rem;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  font-size: 0.68rem;
  padding: 0.2rem;
  font-weight: 300;
}

.shopping-bar {
  background-color: #43a080;
  padding: 18px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.icon {
  font-size: 1.2rem;
}

.add-article-container {
  padding: 18px 15px;
}

.add-article-title {
  font-size: 1rem;
  padding-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-size: 0.68rem;
  font-weight: 300;
  cursor: pointer;
}

[type="number"]::after {
  content: "€";
  color: var(--main-color);
}

form label {
  padding: 10px 0;
}

form input {
  width: 10rem;
  height: 1.8rem;
  border: 0;
  margin-right: 0.2rem;
}

.button-add {
  font-family: var(--main-font-family);
  background-color: #289988;
  color: var(--secondary-color);
  margin-top: 8px;
  padding: 8px 5px;
  width: 3rem;
  font-size: 0.6rem;
  font-weight: 300;
  border: 0;
}
